// importando o arquivo -hero.scss

@use "variaveis";
@use "hero";
@use "shows";
@use "plans";

// importando a fonte do site
@font-face {
  font-family: Avenir;
  src: url(../../Assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../Assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

// starting the reset here;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variaveis.$corDeFundo;
  
}

// criando um mixing, vai receber um argumento que vai ser o font-size
@mixin text($fontsize: 16px) {
  font-size: $fontsize;
  line-height: $fontsize + 10px;
  color: variaveis.$corTextoPrincipal;
}

// mixing para o titulo

@mixin title($fontsize: 40px) {
  @include text($fontsize);
  color: variaveis.$corTextoSecundario;
}

// criando 3 classes

.text--big {
  @include text(18px);
}

.text {
  @include text;
}

.text--samll {
  @include text(12px);
}

.link-text {
  @include text(18px);
  color: variaveis.$corTextoSecundario;
  text-decoration: underline;
}

// Criando as variações do titulos
.title--big {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}

 // estilizar o botao, display:block, para ficar uma linha so para ele 
 .button{
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: variaveis.$corTextoSecundario;
  background-color: #6421ff;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 2vw;
  margin-bottom: 8px;
}
