// importando o arquivo -hero.scss
@use 'hero';



// starting the reset here;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// creating a variable
$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

body {
  background-color: $corDeFundo;
}

// criando um mixing, vai receber um argumento que vai ser o font-size
@mixin text($fontsize: 16px) {
  font-size: $fontsize;
  line-height: $fontsize + 10px;
  color: $corTextoPrincipal;
}

// mixing para o titulo

@mixin title($fontsize: 40px) {
  @include text($fontsize);
  color: $corTextoSecundario;
}

// criando 3 classes

.text--big {
  @include text(18px);
}

.text {
  @include text;
}

.text--samll {
  @include text(12px);
}

.link-text {
  @include text(18px);
  color: $corTextoSecundario;
  text-decoration: underline;
}

// Criando as variações do titulos
.title--big {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}
